<launch>
	<node name="stage" pkg="stage_ros" type="stageros"
	      args="$(find lab2)/world/playground2.world" />
	<!-- <node name="perception_controller" pkg="lab2" type="perception_controller.py" output="screen" /> -->
	<node name="perception_controller" pkg="lab2" type="perception_controller.py" output="screen" />
	<!-- <node name="evader" pkg="lab2" type="evader.py" output="screen" /> -->
</launch>